openapi: 3.1.0
info:
  title: sock-vote
  description: 
    Server API for sock-vote.
    This document lays out the APIs for the server component of SockVote.
  version: 0.1.0
  
paths:

  /room/create:
    post:
      summary: Creates a new room
      description:
        Creates a new room with the given options.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoomCreationRequest"
            example:
              name: "PCSoc Annual General Meeting"
      responses:
        "200":
          description:
            The room was created successfully and was
            registered with the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomCreationResponse"
              example:
                name: "PCSoc Annual General Meeting"
                code: "123456"
                token: "CDE33D83-EC29-4907-8EC0-C6FD9EB6CEFC"
  
  /room/info/{code}:
    get:
      summary: Get information about a room
      description:
        Provides information about a room,
        like whether the room code corresponds
        to a valid room
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
          description:
            The room to get information on.
      responses:
        "200":
          description:
            The room exists and was found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomInformation"
        "404":
          description:
            The room does not exist.
  
  /room/join/{code}:
    post:
      summary: Join a room
      description:
        This route only asks the room owner whether to allow you to join
        the room, it doesn't actually open a connection to the room. 
        To do that, use the `/room/connect/{code}` route.
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
      responses:
        "200":
          description:
            The room does exist, and the client is permitted to enter.
        "404":
          description:
            The room does not exist.
        "403":
          description:
            The room does exist, but the client has been rejected.
      
  /room/connect/{code}:
    get:
      summary: Connect to a room
      description:
        Connect to a room using WebSocket
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
        - in: header
          name: Connection
          required: true
          schema:
            type: string
            const: "upgrade"
        - in: header
          name: Upgrade
          required: true
          schema:
            type: string
            const: "WebSocket"
        - in: header
          name: X-participant-token
          required: true
          description:
            A token that uniquely identifies each client.
            This can be acquired by joining the room first
            by using `/room/connect/{code}`.
          schema:
            type: string
      responses:
        "101":
          description:
            The room was found and the connection will be upgraded
            to a WebSocket connection.
        "404":
          description:
            The room can't be found.
        "400":
          description:
            The token provided doesn't correspond to a registered user.

components:
  schemas:
    RoomCreationRequest:
      properties:
        name:
          type: string
          description: 
            The name of the room to create
        fields:
          type: array
          description:
            An optional list of questions to ask
            each participant
          items:
            type: string
    RoomCreationResponse:
      properties:
        name:
          type: string
        fields:
          type: array
          items:
            type: string
        code:
          type: string
        token:
          type: string
    RoomInformation:
      properties:
        name:
          type: string
        code:
          type: string
    RoomConnectionRequest:
      properties:
        code:
          type: string
