openapi: 3.1.0
info:
  title: sock-vote
  description: 
    Server API for sock-vote.
    This document lays out the APIs for the server component of SockVote.
  version: 0.1.0
  
paths:
  /room/create:
    post:
      summary: Creates a new room
      description:
        Creates a new room with the given options.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoomCreationRequest"
            example:
              name: "PCSoc Annual General Meeting"
      responses:
        "200":
          description:
            The room was created successfully and was
            registered with the server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomCreationResponse"
              example:
                name: "PCSoc Annual General Meeting"
                code: "123456"
                token: "CDE33D83-EC29-4907-8EC0-C6FD9EB6CEFC"
  /room/info/{code}:
    get:
      summary: Get information about a room
      description:
        Provides information about a room,
        like whether the room code corresponds
        to a valid room
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
          description:
            The room to get information on.
      responses:
        "200":
          description:
            The room exists and was found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomInformation"
        "404":
          description:
            The room does not exist.
  /room/connect/{code}:
    get:
      summary: Connect to a room
      description:
        Connect to a room using WebSocket
      parameters:
        - in: path
          name: code
          required: true
          schema:
            type: string
        - in: header
          name: Connection
          required: true
          schema:
            type: string
            const: "upgrade"
        - in: header
          name: Upgrade
          required: true
          schema:
            type: string
            const: "WebSocket"
      responses:
        "101":
          description:
            The room was found and the connection will be upgraded
            to a WebSocket connection.
        "404":
          description:
            The room can't be found

components:
  schemas:
    RoomCreationRequest:
      properties:
        name:
          type: string
    RoomCreationResponse:
      properties:
        name:
          type: string
        code:
          type: string
        token:
          type: string
    RoomInformation:
      properties:
        name:
          type: string
        code:
          type: string
    RoomConnectionRequest:
      properties:
        code:
          type: string
