openapi: 3.1.0
info:
  title: sock-vote
  description: 
    Server API for sock-vote.
    This document lays out the APIs for the server component of SockVote.
  version: 0.1.0

servers:
  - url: localhost:8080
    description:
      Local development server
  
paths:

  /room/create:
    post:
      summary: Creates a new room
      description:
        Creates a new room with the given options.
      tags:
        - Room Handling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                  description: 
                    The name of the room to create
                fields:
                  type: array
                  description:
                    An optional list of questions to ask
                    each participant
                  items:
                    type: string
            example:
              name: "PCSoc Annual General Meeting"
      responses:
        "200":
          description:
            The room was created successfully and was
            registered with the server.
          content:
            application/json:
              schema:
                required:
                  - name
                  - code
                  - adminToken
                properties:
                  name:
                    type: string
                  fields:
                    type: array
                    items:
                      type: string
                  code:
                    type: string
                  adminToken:
                    type: string
              example:
                name: "PCSoc Annual General Meeting"
                code: "123456"
                token: "CDE33D83-EC29-4907-8EC0-C6FD9EB6CEFC"
        "500":
          description: 
            The room could not be created as a valid code
            could not be generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BasicError"
              example:
                reason: "An available room code could not be generated."
  
  /room/info/{code}:
    get:
      summary: Get information about a room
      description:
        Provides information about a room,
        like whether the room code corresponds
        to a valid room
      tags:
        - Room Handling
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description:
            The room exists and was found.
          content:
            application/json:
              schema:
                required:
                  - name
                  - code
                properties:
                  name:
                    type: string
                  code:
                    type: string
                  fields:
                    type: array
                    items:
                      type: string
        "404":
          description:
            The room does not exist.
  
  /room/join/{code}:
    post:
      summary: Join a room
      description:
        This route only asks the room owner whether to allow you to join
        the room, it doesn't actually open a connection to the room. 
        To do that, use the `/room/connect/{code}` route.
      tags:
        - Room Handling
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                fields:
                  $ref: '#/components/schemas/Fields'
      responses:
        "200":
          description:
            The room does exist, and the client is permitted to enter.
          content:
            application/json:
              schema:
                required:
                  - participantToken
                properties:
                  participantToken:
                    type: string
              example:
                participantToken: "CDE33D83-EC29-4907-8EC0-C6FD9EB6CEFC"
        "403":
          description:
            The room does exist, but the client has been rejected.
        "404":
          description:
            The room does not exist.
  
  /room/joinRequests/{code}:
    get:
      summary: Pending requests to join a room
      description:
        Allows an admin to view pending join requests for a room
      tags:
        - Room Handling
        - Room Management
      parameters:
        - $ref: '#/components/parameters/AdminToken'
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description: 
            The room exists and the admin token is valid.
          content:
            application/json:
              schema:
                required:
                  - lastUpdated
                  - requests
                properties:
                  lastUpdated:
                    type: string # timestamp
                  requests:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                        - participantToken
                        - timestamp
                      properties:
                        name:
                          type: string
                        participantToken:
                          type: string
                        timestamp:
                          type: string # timestamp
                        fields:
                          $ref: '#/components/schemas/Fields'
        "403":
          description:
            The room exists but either the admin token is missing
            or it is invalid
        "404":
          description:
            The room does not exist.
    post:
      summary: Handle join requests
      description:
        Allows a room admin to accept or reject join requests.
      tags:
        - Room Handling
        - Room Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                accept:
                  type: array
                  items:
                    type: string
                reject:
                  type: array
                  items:
                    type: string
      parameters:
        - $ref: '#/components/parameters/AdminToken'
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description:
            All accepts and rejects were handled correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinRequestsResult'
        "207":
          description:
            Some accepts and rejects were handled correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinRequestsResult'
        "400":
          description:
            All join requests were not handled correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinRequestsResult'
        "403":
          description:
            The admin token is either missing or invalid.
        "404":
          description:
            The room does not exist.

components:

  # MARK: - Schemas
  schemas:
    JoinRequestsResult:
      properties:
        accepted:
          type: array
          items:
            type: string
        rejected:
          type: array
          items:
            type: string
        failed:
          type: array
          items:
            type: string
    Fields:
      type: object
      additionalProperties:
        type: string
    
    # MARK: Errors
    BasicError:
      required:
        - reason
      properties:
        reason:
          type: string

  # MARK: - Parameters
  parameters:
    AdminToken:
      in: header
      name: Room-Admin-Token
      required: true
      description:
        To ensure that only an admin is able to make privileged actions
        to a room.
        The token is provided to the room creator as a response
        to the create request.
      schema:
        type: string
    RoomCode:
      in: path
      name: code
      required: true
      description:
        A code uniquely identifying an alive rooms.
      schema:
        type: string

tags:
  - name: Room Handling
    description:
      Routes related to room handing.
  - name: Room Management
    description:
      Routes to manage rooms. These routes require an admin token.
