openapi: 3.1.0
info:
  title: sock-vote
  description: 
    Server API for sock-vote.
    This document lays out the APIs for the server component of SockVote.
  version: 0.1.0

servers:
  - url: localhost:8080
    description:
      Local development server
  
paths:

  /room/create:
    post:
      summary: Creates a new room
      description:
        Creates a new room with the given options.
      tags:
        - Room Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                  description: 
                    The name of the room to create
                fields:
                  type: array
                  description:
                    An optional list of questions to ask
                    each participant
                  items:
                    type: string
            example:
              name: "PCSoc Annual General Meeting"
              fields:
                items:
                  - "Student ID"
                  - "Email"
      responses:
        "200":
          description:
            The room was created successfully and was
            registered with the server.
          content:
            application/json:
              schema:
                required:
                  - name
                  - code
                  - adminToken
                properties:
                  name:
                    type: string
                  fields:
                    type: array
                    items:
                      type: string
                  code:
                    type: string
                  adminToken:
                    type: string
              example:
                name: "PCSoc Annual General Meeting"
                code: "123456"
                token: "CDE33D83-EC29-4907-8EC0-C6FD9EB6CEFC"
        "500":
          description: 
            The room could not be created as a valid code
            could not be generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BasicError"
              example:
                reason: "An available room code could not be generated."
  
  /room/info/{code}:
    get:
      summary: Get information about a room
      description:
        Provides information about a room,
        like whether the room code corresponds
        to a valid room
      tags:
        - Participants
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description:
            The room exists and was found.
          content:
            application/json:
              schema:
                required:
                  - name
                  - code
                properties:
                  name:
                    type: string
                  code:
                    type: string
                  fields:
                    type: array
                    items:
                      type: string
        "404":
          $ref: '#/components/responses/InvalidRoomCode'
  
  /room/join/{code}:
    post:
      summary: Join a room
      description:
        This route only asks the room owner whether to allow you to join
        the room, it doesn't actually open a connection to the room. 
        To do that, use the `/room/connect/{code}` route.
      tags:
        - Participants
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
              properties:
                name:
                  type: string
                fields:
                  $ref: '#/components/schemas/Fields'
      responses:
        "200":
          description:
            The room does exist, and the client is permitted to enter.
          content:
            application/json:
              schema:
                required:
                  - participantToken
                properties:
                  participantToken:
                    type: string
              example:
                participantToken: "CDE33D83-EC29-4907-8EC0-C6FD9EB6CEFC"
        "403":
          description:
            The room does exist, but the client has been rejected.
        "404":
          $ref: '#/components/responses/InvalidRoomCode'
  
  /room/join-requests/{code}:
    get:
      summary: Pending requests to join a room
      description:
        Allows an admin to view pending join requests for a room
      tags:
        - Room Management
      parameters:
        - $ref: '#/components/parameters/AdminToken'
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description: 
            The room exists and the admin token is valid.
          content:
            application/json:
              schema:
                required:
                  - lastUpdated
                  - requests
                properties:
                  lastUpdated:
                    type: string # timestamp
                  requests:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                        - participantToken
                        - timestamp
                      properties:
                        name:
                          type: string
                        participantToken:
                          type: string
                        timestamp:
                          type: string # timestamp
                        fields:
                          $ref: '#/components/schemas/Fields'
        "403":
          $ref: '#/components/responses/InvalidAdminToken'
        "404":
          $ref: '#/components/responses/InvalidRoomCode'
    post:
      summary: Handle join requests
      description:
        Allows a room admin to accept or reject join requests.
      tags:
        - Room Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                accept:
                  type: array
                  items:
                    type: string
                reject:
                  type: array
                  items:
                    type: string
      parameters:
        - $ref: '#/components/parameters/AdminToken'
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description:
            At least some of the requests were handled correctly.
            Checking the result is necessary to identify any that have failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinRequestsResult'
        "400":
          description:
            All join requests were not handled correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinRequestsResult'
        "403":
          $ref: '#/components/responses/InvalidAdminToken'
        "404":
          $ref: '#/components/responses/InvalidRoomCode'
  
  /room/question/{code}:
    get:
      summary: Get the active question
      tags:
        - Participants
      parameters:
        - $ref: '#/components/parameters/RoomCode'
      responses:
        "200":
          description: 
            There is an active question
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
        "400":
          description:
            There is no active question
        "404":
          description:
            A room with the specified code was not found
    post:
      summary: Submit a new question
      tags:
        - Room Management
      parameters:
        - $ref: '#/components/parameters/RoomCode'
        - $ref: '#/components/parameters/AdminToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionCreateRequest'
      responses:
        "200":
          description:
            The question was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
        "400":
          description:
            The question to create was invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError'
        "403":
          $ref: '#/components/responses/InvalidAdminToken'
        "404":
          $ref: '#/components/responses/InvalidRoomCode'
        "500":
          description:
            The question could not be updated correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicError' 
    delete:
      summary: Removes the current question
      tags:
        - Room Management
      parameters:
        - $ref: '#/components/parameters/RoomCode'
        - $ref: '#/components/parameters/AdminToken'
      responses:
        "200":
          description:
            The question was deleted successully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Question'
        "400":
          description:
            There is no room to delete
        "403":
          $ref: '#/components/responses/InvalidAdminToken'
        "404":
          $ref: '#/components/responses/InvalidRoomCode'
  
  /room/vote/{code}/{questionID}:
    post:
      summary: Vote on a question
      tags:
        - Participants
      parameters:
        - $ref: '#/components/parameters/ParticipantToken'
        - $ref: '#/components/parameters/RoomCode'
        - $ref: '#/components/parameters/QuestionID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnyVote'
      responses:
        "200":
          description:
            The vote was counted successfully
        "400":
          description:
            The vote doesn't match the question
        "403":
          $ref: '#/components/responses/InvalidParticipantToken'
        "404":
          $ref: '#/components/responses/InvalidRoomCode'

components:

  # MARK: - Schemas
  schemas:
    JoinRequestsResult:
      properties:
        accepted:
          type: array
          items:
            type: string
        rejected:
          type: array
          items:
            type: string
        failed:
          type: array
          items:
            type: string
    QuestionCreateRequest:
      type: object
      required:
        - prompt
        - options
      properties:
        prompt:
          type: string
        votingStyle:
          $ref: '#/components/schemas/VotingStyle'
        options:
          type: array
          items:
            type: string

    # MARK: - Data Types
    Fields:
      type: object
      additionalProperties:
        type: string
    Question:
      allOf:
        - $ref: '#/components/schemas/QuestionCreateRequest'
        - type: object 
          required: 
            - id
          properties:
            id:
              type: string
    VotingStyle:
      type: string
      enum:
        - plurality
        - preferential

    # MARK: Votes
    Vote:
      type: object
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/VotingStyle'
      discriminator:
        propertyName: type
        mapping:
          PluralityVote: plurality
          PreferentialVote: preferential
    PluralityVote:
      allOf: 
        - $ref: '#/components/schemas/Vote'
        - type: object
          required:
            - selection
          properties:
            selection:
              type: string
    PreferentialVote:
      allOf:
        - $ref: '#/components/schemas/Vote'
        - type: object
          required:
            - selectionOrder
          properties:
            selectionOrder:
              type: array
              items:
                type: string
    AnyVote:
      oneOf:
        - $ref: '#/components/schemas/PluralityVote'
        - $ref: '#/components/schemas/PreferentialVote'

    # MARK: Errors
    BasicError:
      required:
        - reason
      properties:
        reason:
          type: string

  # MARK: - Parameters
  parameters:
    AdminToken:
      in: header
      name: Room-Admin-Token
      required: true
      description:
        To ensure that only an admin is able to make privileged actions
        to a room.
        The token is provided to the room creator as a response
        to the create request.
      schema:
        type: string
    RoomCode:
      in: path
      name: code
      required: true
      description:
        A code uniquely identifying an alive room.
      schema:
        type: string
    QuestionID:
      in: path
      name: questionID
      required: true
      description:
        The id uniquely identifying the question.
        This is used to make sure that the client is voting on the question they expect.
      schema:
        type: string
    ParticipantToken:
      in: header
      name: Participant-Token
      required: true
      description:
        A token that uniquely identifies a participant.
      schema:
        type: string

  responses:
    InvalidAdminToken:
      description:
        The admin token is either missing or incorrect
    InvalidParticipantToken:
      description:
        The participant token is either missing or doesn't correspond to
        a room participant
    InvalidRoomCode:
      description:
        The room does not exist


# MARK: - Tags
tags:
  - name: Participants
    description:
      Routes used by participants
  - name: Room Management
    description:
      Routes to manage rooms. 
      Most of these routes require an admin token provided on room creation.
